$primary-color: #3b5998;
$primary-light: #5b79b8;
$primary-dark: #1b3978;
$secondary-color: #3b5998;
$secondary-light: #5b79b8;
$secondary-dark: #1b3978;
$default-color: #ccc;
$default-light: #eee;
$default-dark: #888;
$success-color: #34945F;
$success-light: #55b57f;
$success-dark: #14743f;
$warning-color: #FFCC66;
$warning-light: #FFCCAA;
$warning-dark: #FFCC22;
$error-color: #aF3638;
$error-light: #cf5658;
$error-dark: #9f1618;
$back-color: #eee;
$fore-color: #555;
