.reveal-editor-anchor {
    border-radius: 3px;
    padding: 10px;
    font-size: 150%;
    margin: 3px;
    border: 1px solid;
    color: #ddd;
    width: 46px;
    z-index: 255;
    height: 46px;
}
.anchor-cog {
    left: 66px;
    position: fixed;
    bottom: 66px;
}
.anchor-preview {
    position: fixed;
    left: 66px;
    bottom: 10px;
}
.anchor-edit {
    position: fixed;
    left: 66px;
    bottom: 10px;
}
.anchor-home {
    position: fixed;
    left: 10px;
    bottom: 10px;
}
.anchor-save {
    position: fixed;
    left: 10px;
    bottom: 66px;
}
.anchor-add-slide {
    padding: 0;
    position: absolute;
    left: 970px;
    top: 350px;
    font-size: 0.8em;
    margin-top: -23px;
}
.anchor-add-sub-slide {
    padding: 0;
    position: absolute;
    left: 480px;
    top: 710px;
    font-size: 0.8em;
    margin-left: -23px;
}
.reveal-editor-panel {
    position: fixed;
    background: #333;
    z-index: 110;
}
.left-panel {
    top: 0;
    left: 0;
    bottom: 0;
    width: 130px;
    text-align: center;
}
.right-panel {
    top: 0;
    left: 0;
    bottom: 0;
    width: 130px;
    text-align: center;
}
.reveal-editor-panel {
    border-width: 0 1px 0 0;
    border: #555;
    color: #eee;
}
.reveal-editor-anchor:hover {
    opacity: 0.8;
}
.reveal-editor-anchor:active {
    opacity: 1;
}
.reveal-editor-left-panel-button {
    font-size: 1.5em;
    margin-top: 30px;
    padding: 20px;
    border: 2px solid transparent;
    background: transparent;
    color: #eee;
}
.reveal-editor-left-panel-button:hover {
    border: 2px solid #eee;
}
.reveal-editor-left-panel-button:active {
    opacity: 0.9;
}
.reveal-editor-right-panel-button {
    font-size: 1.3em;
    height: auto;
    padding: 10px;
    border: 1px solid transparent;
    background: #666;
    color: #eee;
    display: block;
}
.reveal-editor-right-panel-button:hover {
    border: 1px solid #eee;
}
.reveal-editor-right-panel-button:active {
    opacity: 0.9;
}
.anchor {
    pointer-events: auto;
}
.anchor[data-direction='e'] {
    left: 0;
    top: 50%;
}
.anchor[data-direction='w'] {
    right: 0;
    top: 50%;
}
.anchor[data-direction='n'] {
    left: 50%;
    top: 0;
}
.anchor[data-direction='s'] {
    left: 50%;
    bottom: 0;
}
.anchor[data-direction='ne'] {
    left: 0;
    top: 0;
}
.anchor[data-direction='nw'] {
    right: 0;
    top: 0;
}
.anchor[data-direction='se'] {
    left: 0;
    bottom: 0;
}
.anchor[data-direction='sw'] {
    right: 0;
    bottom: 0;
}
.reveal .sl-block {
    position: absolute;
}
.reveal .sl-block .sl-block-content {
    display: block;
    position: relative;
    width: 100%;
    max-width: none;
    max-height: none;
    word-wrap: break-word;
    margin: 0;
    outline: 0;
}
.reveal .sl-block[data-block-type='text'] {
    // height: inherit;
}
.reveal .sl-block[data-block-type='text'] > .sl-block-content {
    margin: 0;
    display: block;
}
.reveal .sl-block[data-block-type='text'] > .sl-block-content * {
    margin: 0;
    outline: 0;
    padding: 0;
    width: 100%;
    display: block;
    word-wrap: break-word;
}
.reveal .sl-block[data-block-type='text'] > .sl-block-content ul {
    display: inline-block;
}
.reveal .sl-block[data-block-type='text'] > .sl-block-content ol {
    display: inline-block;
}
.reveal .sl-block[data-block-type='text'] > .sl-block-content li {
    display: list-item;
}
.reveal .sl-block[data-block-type='image'] > .sl-block-content {
    margin: 0;
    outline: 0;
    padding: 0;
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}
.reveal .sl-block[data-block-type='image'] > .sl-block-content > img {
    margin: 0;
    outline: 0;
    padding: 0;
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}
.reveal .sl-block[data-block-type='image'] > .sl-block-content:empty {
    background-image: url("back.svg");
    background-color: rgba(128, 128, 128, 0.3);
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    width: 360px;
    height: 300px;
}
.reveal .sl-block[data-block-type='text'] > .sl-block-content:empty {
    background-color: rgba(128, 128, 128, 0.3);
    min-height: 48px;
    min-width: 100px;
}
//overides
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    color: inherit !important;
    background: inherit !important;
}
.reveal .sl-block[data-block-type='image'] img {
    border: 0;
    box-shadow: none;
}
.man{
    opacity: 0.3;
}
.man:hover {
    opacity: 1;
}
